body{
    
background-image: url("/images/personaPerfil.jpg");
background-position: center;
background-repeat: no-repeat;
background-size:cover;
color: white;
  
}

.encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 8rem;
    background: #ed400c;
       background: linear-gradient(
        90deg,
        rgba(237, 64, 12, 0.8) 0%,        
        rgba(255, 197, 38, 0.8) 54%,      
        rgba(255, 247, 173, 0.8) 100%  
    );
    margin-bottom: 5rem;
    color: white;

}


.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,select{
    
     display: block;
  width:35%;
  padding: 0.75rem;
  margin: 1rem 0;
  border-radius: 8px;
  border: none;
  font-size: 1rem;

}

.contenedor_distancia{
display: flex; 
justify-content: center;
align-items: center; 
gap: 10px;
width:100%;
}

.distancia{
  width: 100%;
}


/* Contenedor de toda la caja */
.tag-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px; 
  background: rgba(255, 255, 255, 0.15);        
  -webkit-backdrop-filter: blur(10px);  
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff; 
}

/* Estilo de cada etiqueta */
.tag {
  padding: 10px 12px;
  text-align: center;
  border: 2px solid #888;
  border-radius: 20px;
  background-color: #878792;
  color: #333;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
}

/* Hover */
.tag:hover {
  background-color: #e05b32;
}

/* Estado seleccionado */
.tag.selected {
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 4.5em;

}
